# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
logs
coverage
/tmp/
.DS_Store
/.idea
```
/uploads/
/.idea/
/.husky/

# Artillery test reports
tests/artillery/reports/
